.DS_Store
*.egg-info
*.pyc
*.pyo
*.sqlite
*.~*
*credentials.json*
.cache
.coverage
.idea
.tox
coverage*.xml
flake.out
pep8.out
pytest.xml
settings_local.py
src/wfp_msp/settings/_*
~*
/dist
/build
.idea/
!deploy/files/.wfp-member-state-portal_credentials.json
node_modules/
.venv1
.venv
.pytest_cache
package-lock.json
webpack-stats.dev.json
.vscode/
.env
src/wfp_msp/settings/media/pdf/*
.Makefile.swp
get-pip.py
venv
/venv
*.sqlite3
*.bak
XDG_CACHE_HOME/